engine-strict=true
//convoy.sheetjs.com/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJiZW5jaG1hcmttaW4iLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiXSwibmFtZSI6ImJlbmNobWFya21pbiIsImdyb3VwcyI6WyJiZW5jaG1hcmttaW4iLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiXSwiaWF0IjoxNzA5MjM1NDQ2LCJuYmYiOjE3MDkyMzU0NDYsImV4cCI6MzE3MjUzNjc3ODQ2fQ.uXQSSSh5TUNV4U5lxECI3MC2cGFQThI8OpYOiD72us0
@sheet:registry=https://convoy.sheetjs.com/
